html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
  font-size: 62.5%; // 10px/16px = 62.5% -> 1rem = 10px
  // @include respond(tab-land) {
  //   // width < 1200?
  //   font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
  // }

  // @include respond(tab-port) {
  //   // width < 900?
  //   font-size: 50%; //1 rem = 8px, 8/16 = 50%
  // }

  // @include respond(big-desktop) {
  //   font-size: 75%; //1rem = 12, 12/16
  //}
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

*:focus {
  outline: 3px dashed green;
  outline-offset: 5px;
}

/* GENERAL */

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  background-color: #fff;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* CONTAINER */
.container {
  max-width: 1150px;
  padding: 0px 20px;
  margin: 0px auto;
}
a {
  text-decoration: none;
}
